
**/assets/chats/**
!**/assets/chats/.gitkeep

**/assets/databases/chroma_db/**
!**/assets/databases/chroma_db/.gitkeep

**/assets/models/**
!**/assets/models/.gitkeep

**/assets/elements/**
!**/assets/elements/.gitkeep

**/chroma_langchain_db

__pycache__/
**/webapp
