langchain
langchain_core
langchain_community
langchain_experimental
langchain_ollama
langchain_chroma
chromadb
networkx
matplotlib
json-repair
pyvis
jupyter
langchain-huggingface
langchain-openai
transformers
torch
pydantic
scikit-learn
sentence-transformers